*{
  outline: none;
  font-family: Roboto;
  margin:0;
  padding:0;
  height: 100%;
  overflow: hidden;
  background-color: var(--eggwhite);
  --main-blue: #34b0d5;
  --light-blue: #34b0d5;
  --eggwhite: #f8f7f7;
  --darkgray: #62636d;
  text-align: center;

}
#blackmodal{
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color:rgb(0,0,0,0.3);

}
#header{
  text-align: left;
  color: var(--main-blue);
  font-family: "Secular One";
  font-size: 2.6vh;
  padding: 0.8em 1em 0 1em;
  width:100%;
  height:5%;
  background-color: white;
  box-shadow: 0px 48px 43px -9px rgba(213,214,217,0.3);
}

#urlspace{
  height: 65%;
  text-align: center;
  background: transparent;
}

#urlspace h4{
  height:auto;
  margin-top: 9vh;
}

#input{
  text-align: left;
  padding: 1em 1em;
  margin: 6em 0em 3em 0em;
  width: 60%;
  height: 5%;
  font-size: 1.5vw;
  border: none;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.2);
  background-color: white;
  border-radius: 1vh;
}

#generateBtn{
  font-family: "Secular One";
  
  cursor: pointer;
  border-radius: 2vh;
  background-color:var(--eggwhite);
  color: var(--main-blue);
  width: 23%;
  height: 6%;
  margin: auto;
  padding: 0.8em 0em 0.8em 0em;
  font-size: 1.8vw;
  border: solid 0.3vw var(--main-blue);
  transition: all 0.2s ease-in-out;

}

#generateBtn:hover{
  background-color: var(--main-blue);
  color: white;

 
}
#past{
  left:50%;
  transform: translateX(-50%);
  overflow-y: scroll;
  background-color: var(--eggwhite);
  border-top: solid var(--darkgray) 0.4vh;
  width:70%;
  height: 29%;
  position: fixed;
  bottom: 0;
  
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius:1vh;
  transition: background 0.3s ease-in-out;
} 

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-blue);
}
h3{
  margin: 1em;
  display: inline-block;
  background-color: var(--darkgray);
  color: white;
  height: 10%;
}


.cards{
  border-radius:2vh;
  padding: 1em;
  width: 26%;
  height: 30%;
  display: inline-block;
  margin: 1.2em 0.5em;
  box-shadow: 0px 0px 28px -8px rgba(0,0,0,0.3);
  text-align: left;


}
.cards h4{
  text-align: left;
  height: 40%;
  background-color: transparent;
  cursor: pointer;
}
.cards p{
  height:auto;
  text-align: left;
  cursor: pointer;
  color:var(--darkgray);
  font-size: 1vw;
  background-color: transparent;
}
