*{
  --main-blue: #b0d0ee;
  --eggwhite: #f8f7f7;
  --darkgray: #63646d;
  margin: 0px;
}
#popup{
  background-color: var(--eggwhite);
  border: Transparent, 1px, solid;
  border-radius: 15px;
}
#newlink{
  background-color: var(--main-blue);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  border: Transparent, 1px, solid;
  border-radius: 15px, 15px, 0px, 0px;
  text-align: center;
  padding: 2vw;
  position: relative;
}
#deletebutton{
  background: transparent;
  border: transparent, 1px, solid;
  outline: none;
  float: right;
  position: relative;
  top: 0vw;
  margin: 0.5vw;
}
.icons{
  background: transparent;
  border: none;
  outline: none;
}
#textarea{
  background-color: var(--darkgray);
  text-align: center;
}