
#modal{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  margin: auto;
  z-index: 3;
  width: 65%;
  height: 70%;
  border-radius: 2vh;
  background-color: var(--eggwhite);
  text-align: center;
}
#popup{
  background-color: var(--eggwhite);
  border: Transparent, 1px, solid;
  border-radius: 15px;
}
#newlink{
  background-color: var(--main-blue);
  color: white;
  font-size: 5vh;
  text-align: center;
  padding: 2vw;
  position: relative;
  height:auto;
  font-family: 'Secular One';
  font-weight: normal;
}
#deletebutton{
  background-color: transparent;
  float: right;
  position: absolute;
  top: 2.5vh;
  right: 1vw;
  margin: 0.5vw;
}
#deletebutton:hover{
  cursor: pointer;
}
.icons{
  background: transparent;
  border: none;
  outline: none;
  padding: 1vw;
}
#textarea{
  background-color: var(--eggwhite);
  padding: 1vw 0vw;
  width: 40%;
  height: auto;
  font-size: 5vh;
  margin: 10vh;
  border: none;
  border-bottom: solid 0.5vh var(--darkgray);
}
#copylinkbtn{
  font-family: "Secular One";
  margin: auto;
  height: auto;
  width: 20%;
  background-color: var(--darkgray);
  color: white;
  padding: 3vh;
  margin-top:4vh;
  border-radius: 1vh;
  font-size: 3vh;
  transition: all 0.2s ease-in-out;

}
#copylinkbtn:hover{
  cursor: pointer;
  background-color: var(--main-blue);
}